<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RASTREO_Server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <RASTREO_Server.My.MySettings>
      <setting name="RS_ServerCNNSTR" serializeAs="String">
        <value>Server=127.0.0.1;Port=5432;User Id=pgsql;Password=pgsql;Database=rastreo_system
</value>
      </setting>
      <setting name="RS_PuertosUDP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>773</string>
            <string>777</string>
            <string>1337</string>
            <string>4095</string>
            <string>4097</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RS_PuertosTCP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>15015</string>
            <string>15016</string>
            <string>15017</string>
            <string>15018</string>
            <string>15019</string>
            <string>15020</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RS_ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="RS_ServerPORT" serializeAs="String">
        <value>6432</value>
      </setting>
      <setting name="RS_ServerUSERDB" serializeAs="String">
        <value>rastreo_admin</value>
      </setting>
      <setting name="RS_ServerPASSDB" serializeAs="String">
        <value>rastreoadmin1341</value>
      </setting>
      <setting name="RS_Server_DB" serializeAs="String">
        <value>rastreo_system</value>
      </setting>
      <setting name="RS_Server_useUDP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RS_Server_useTCP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RS_Server_reenvio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RS_Server_IPReenvio" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="RS_Server_PortReenvio" serializeAs="String">
        <value>1510</value>
      </setting>
      <setting name="RS_Server_ProtocoloIP" serializeAs="String">
        <value>UDP</value>
      </setting>
      <setting name="mailSERVER" serializeAs="String">
        <value>mail1013.opentransfer.com</value>
      </setting>
      <setting name="mailUSER" serializeAs="String">
        <value>info@rastreo.com.py</value>
      </setting>
      <setting name="mailPASS" serializeAs="String">
        <value>inforastreo</value>
      </setting>
      <setting name="mailFROM" serializeAs="String">
        <value>info@rastreo.com.py</value>
      </setting>
      <setting name="g_EsperaSegundos" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="g_InstaladoComoServicio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="g_MapServerIP" serializeAs="String">
        <value>192.168.1.2</value>
      </setting>
      <setting name="g_MapServerPORT" serializeAs="String">
        <value>6200</value>
      </setting>
      <setting name="g_Mensaje_Inactivos" serializeAs="String">
        <value>Rayos y centellas! Puertos Inactivos! Coños!</value>
      </setting>
      <setting name="g_Mensajes_Eventos" serializeAs="String">
        <value />
      </setting>
      <setting name="mailPORT" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="g_DNSWeb" serializeAs="String">
        <value>192.168.1.2:8080</value>
      </setting>
      <setting name="mailSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TCPPatch" serializeAs="String">
        <value>True</value>
      </setting>
    </RASTREO_Server.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
